/*import fonts for website*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Handlee');

*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

body{
	background-color: darkgrey;
}

p{
	font-size: 14px;
}

header{
	width: 100%;
	text-align: center;
}

header H1{
	background-color: darkgrey;
	padding: 10px;

}

/*this is the title link to home page*/
a{
	text-decoration: none;
	color: black;
	transition: all 0.3s;
	font-family: 'Handlee', cursive;
	font-weight: 400;
}

a:hover{
	color: rgb(184,1,65);
}

nav{
	display: block;
	text-align: center;
	background-color: black;
	min-height: 40px;
}

nav ul{
	list-style-type: none;
}

nav ul li{
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
}

nav ul li a{
	color: white;
	transition: all 0.5s;
}

nav ul li a:hover{
	color: rgb(184,1,65);
}

nav ul li a.Pressed{
	color: rgb(184,1,65);
	text-decoration: underline;
}

main{
	background-color: darkgrey;
}

main div.Container{
	width: 800px;
	margin: 0 auto;
}

footer{
	background-color: black;
	padding-top: 10px;
}

footer p{
	text-align: center;
	color: lightgrey;
	font-family: 'Handlee', cursive;
	font-weight: 400;
	font-size: 12px;
}

div.RunButton{
	text-align: center;
	padding:10px;
}

button#RunButton{
	padding: 5px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: rgb(184,1,65);
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 #999;

	font-family: 'Handlee', cursive;
	font-weight: 400;
	font-size: 12px;
}

button#RunButton:hover {
	background-color: rgb(256,1,65);
}

button#RunButton:active {
	background-color: rgb(256,1,65);
	box-shadow: 0 2px 2px 0 #666;
	transform: translateY(2px);
}

div#RunAnimation{
	width: 100%;
	height: 30px;
	position: relative;
}
div#RunningBox{
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 0;
	background-color: black;
}
